<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <link rel="manifest" href="https://renify.store/manifest.json" />
    <meta name="author" content="Renify">
    <meta name="google-signin-client_id" content="1=902176944767=web=ad381ae4a5fb011a80054a.apps.googleusercontent.com">
	<meta property="og:determiner" content="renify">
	<meta property="og:site_name" content="Renify">
	<meta property="og:type" content="store">
	<meta property="og:url" content="https://www.renify.store">
	<meta property="og:title" content="QR Scanner | Renify">
	<meta property="og:description" content="Web based QR scanner">
	<meta property="og:image" content="https://renifysite.com/sites/default/files/public/renifysite.com.png">
	<meta property="og:image:url" content="https://renifysite.com/sites/default/files/public/renifysite.com.png">
	<meta property="og:image:secure_url" content="https://renifysite.com/sites/default/files/public/renifysite.com.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="256">
	<meta property="og:image:hieght" content="256">
	<meta property="og:image:alt" content="renify">

    <title>{{ head_title|safe_join(' | ') }}</title>
    <head-placeholder token="{{ placeholder_token }}">    
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
