
<main role="main">
  <div id="preloader">
    <div id="loader" class="dots-jump">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
    {% if page.header %}
     {{page.header}}
    {% endif %}

    {% if page.page_top %}
      {{page.page_top}}
    {% endif %}
    
    {{ page.highlighted }}
    
    {{ page.breadcrumb }}
    
    {% if page.sidebar %}
      <div>
        {{ page.content }}
      </div>
    {% else %}
      {{ page.content }}
    {% endif %}
  
  {{ page.footer }}
</main>
<div class="overlay"></div>
<a href="#top" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "102875864644890");
  chatbox.setAttribute("attribution", "biz_inbox");

  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v12.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>