
<section class="search-block">
    <div>
      <form action="/search/result/" method="get" accept-charset="utf-8" class="search-form">
        <input type="text"   name="keys" placeholder="Search" class="input">
        <input type="submit" name="" value="Search" class="submit">
      </form>
     </div>  
</section>
{# {{ drupal_view('frontpage', 'block_1') }} #}

{# FACEBBOK RECENT #}
{# <section id="fb">
  <div class="row">
    <div class="col-full fb--login">
      <div class="fb-head">
        <h4>Recent Posts: <a href="https://www.facebook.com/renify.official" title=""><i class="fab fa-facebook"></i> Renify</a> Page</h4>
        <span><h5><a href="https://www.facebook.com/renify.official" title=""> Click Here</a> <i>to Display Youre Post Below</i><br>Share Youre Travel Experience</h5></span>
      </div>
      <div class="fb-div">
        
      </div>
      <div class="fb-load-more center">
        <a href="#." class="btn btn--stroke" title="">LOAD MORE</a>
      </div>
    </div>  
    
    <div class="col-full fb--logout">
      <div>
        <div class="center">
          <img src="/themes/Renify/images/lazy/fb-bg.png" alt="">
          <a href="#" title="" class="btn btn--stroke fb-login-btn"><i class="fab fa-facebook"></i> Login to See Recent Posts</a>
        </div>
      </div>
    </div>
  </div>
</section> #}
{# END FACEBBOK RECENT #}

{# ADD PLACE MODAL #}
   <div class="col-full">
      <input class="modal-state" id="modal-2" type="checkbox"  style="display: none;" />
      <div class="modal">
        <label class="modal__bg" for="modal-2"></label>
        <div class="modal__inner" style="background-color:black;">
          <label class="modal__close" for="modal-2"></label>
          <h3 style="color: white;text-align: center;margin-top: 1rem;">Signup First</h3>
           <ul class="footer__social" style="text-align: center;margin-top: 1rem;">
            <li>
              <a href="#." class="share-fb" data-pageid="{{node_url}}" data-id="" data-title="{{node_title}}">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#." class="share-twitter" data-pageid="{{node_url}}" data-id="" data-title="{{node_title}}">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
             <li>
                <a href="#." class="share-insta" data-pageid="{{node_url}}" data-title="{{node_title}}">
                  <i class="fab fa-instagram" aria-hidden="true"></i></a>
              </li>
          </ul>
            <div class="row footer__top">
              {{ drupal_form('Drupal\\data_router\\Form\\SignupForm')}}
            </div>
        </div>
      </div>
    </div> 
{# END ADD PLACE MODAL #}

{# VESSELS #}
<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
      <!-- MODAL -->
    <div class="col-full">
      <input class="modal-state" id="modal-1" type="checkbox"  style="display: none;" />
      <div class="modal">
        <label class="modal__bg" for="modal-1"></label>
        <div class="modal__inner">
          <label class="modal__close" for="modal-1"></label>
          {# <iframe src="https://s-pass.ph/visitors/policy_table" width="100%" height="100%" loading="lazy"></iframe> #}
        </div>
      </div>
    </div> 

    <div class="col-full">
      <h2 class="display-1">
        Find Schedules And Fares
      </h2>
      {# <label class="btn btn--stroke" for="modal-1"><i class="fa fa-lightbulb"></i> Check Travel Requirements</label> #}
      <div class="row block-1-3 block-tab-full" >
        <div class="col-block item-article item-feature">
            <div class="card" style="height:12vh">
              <a href="/vessel/cocaliong/" title="">
                <img src="/themes/Renify/images/lazy/ship.svg" data-src="/sites/default/files/public/ship.jpg" class="img-fluid lazy" alt="cocaliong" style="height:100%">
              </a>
            </div>
        </div>
         {{ drupal_view('barkota_lists','main') }}
      </div>
      <a href="/vessel/" class="btn btn--stroke btn-effect btn--big">More Schedules</a>
    </div>
  </div>
</section>

{# BUSSES #}
<section id="short-text">
  <div class="short-text">
    <h2>Want to Travel By Land ? <a href="/routes/" class="invert">Click Here</a></h2>
  </div>
</section>

<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
    <div class="col-2-3">
      <h2 class="display-1">
        List of Places
      </h2>
      <p class="lead">
        Read the latest articles that you want to discover
      </p>
    {% if logged_in %}
      <a href="/node/add/places/" class="btn btn--stroke--reverse btn-effect btn--big">
        <i class="fa fa-plus"></i> Become a Blogger
      </a>
    {% else %}
      <label href="#data-route-signup-form" for="modal-2" class="btn btn--stroke--reverse  btn--big js-alert">
        <i class="fa fa-plus"></i> Become a Blogger
      </label>
    {% endif %}  
    
    </div>
    <div class="col-1-3">
       <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5xugp0tbqem&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;f=ubuntu&amp;l=0" async="async"></script>
      
      <p class="lead">
        Youre Current Locaion
      </p>
    </div>
    {{ view.header.area_text_custom.content }}
  </div> <!-- end section-header -->
  
  <div class="row features block-1-3 block-tab-full" >
    {% if rows -%}
      {% for row in rows %}
        {{row.content}}
      {% endfor %}
    {% endif %}
  </div>

</section>

{{ drupal_view('frontpage', 'gallery') }}

{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}

