{% set id       = fields.nid.content|raw|striptags %}
{% set title    = fields.title.content|raw|striptags %}
{% set image    = fields.field_banner_image.content|raw|striptags %}
{% set link     = fields.view_node.content|raw|striptags %}
{% set lazy_img = '/themes/Renify/themes/renify/images/lazy/lazy.jpg' %}

<div class="gallery__slide">
  <a href="{{ link }}">
    <img src="{{lazy_img}}" data-src="{{image}}" class="img-fluid lazy" alt="{{title}}">
  </a>
  <h6>{{title}}</h6>
</div>