{{ attach_library('core/drupal') }}
{{ attach_library('data_router/tracker') }}
{{ attach_library('data_router/sched') }}
{{ attach_library('data_router/weather') }}

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="/sites/default/files/public/ship.jpg" data-natural-width=1600 data-natural-height=1200 data-position-y=center>
        <div class="shadow-overlay"></div>
        <div class="home-content">
            <div class="row home-content__main">
                <div class="home-content__left">
                      <h1>Colcaliong Shipping Line</h1>
                      <h3>Travel While You Can <a href="#.">(<span id="view_count" class="CCL"></span> views)</a></h3>
                    <div class="home-content__btn-wrap">
                        <a href="#body" class="btn btn--stroke--reverse btn--big home-content__btn ">
                            Find Schedules
                        </a>
                    </div>
                </div> <!-- end home-content__left-->
            </div> <!-- end home-content__main -->
            <ul class="home-content__social">
                <li><a href="#." class="share-fb" data-pageid="/vessel/cocaliong/" data-title="Colcaliong">Facebook</a></li>
                <li><a href="#." class="share-twitter" data-pageid="/vessel/cocaliong/" data-title="Colcaliong">twitter</a></li>
                <li><a href="#." data-pageid="/vessel/cocaliong/" data-id="" data-title="Colcaliong">Instagram</a></li>
            </ul>
        </div> <!-- end home-content -->
        <a href="#body" class="home-scroll ">
            <span class="home-scroll__text">Scroll</span>
            <span class="home-scroll__icon"></span>
        </a>
    </section>

<!-- BREADCRUMB -->
<section id="breadcrumb-id" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/vessel/">Shipping Lines</a></li>
              <li><a href="#">Cocaliong</a></li>
            </ul>
            </div>  
        </div>
    </div>
</section>

{{ drupal_view('frontpage', 'block_1') }}

<section id="body" class="articles"  max-pager="">
    <div class="row section-header has-bottom-sep" >
        <div class="col-full">
          <h1 class="display-1">
            Schedules And Fares
          </h1>
          <p class="lead">
            Search Youre Travel Plan and Dont Forget To Explore
          </p>
        </div>
        <div class="col-full">
          <div class="inner">
            <div class="row half-bottom">
                  <ul class="stats-tabs">
                    <li>
                      <a href="#preloader" class="smoothscroll"><span id="view_count" class="CCL"></span><em>Views</em></a>
                    </li>
                    <li>
                      <a href="#preloader" class="smoothscroll"><span class="fb-comments-count" data-href="https://renifysite.com/vessel/cocaliong/"></span><em>Comments</em></a>
                    </li>
                    <li>
                       <a href="#preloader" class="smoothscroll">Colcaliong Shipping Line<em>Vessel Name</em></a>
                    </li>
                  </ul>
              </div>
            </div>
        </div>
    </div> <!-- end section-header -->

    <!-- WEATHER DISPLAY -->
    <div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
      <div class="col-block" style="width: 100%;overflow: auto;">
        <div class="selected-weather-wrap" style="opacity: 1;">      
         
        </div>
      </div>
    </div>

  <div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
      <div class="col-block">
        <h2>Search By Date</h2>
        <div class="select-date">
            <div class="selected-date-wrap cocaliong-wrap ajax_date" style="display: flex;">
                    
            </div>
       </div>
     </div>
  </div>

	<div class="row features block-1-3 block-tab-full route_select" data-aos="fade-in">
        <div class="col-block">
          <h3>Origin</h3>
      		<select class="select-origin" style="width: 100%;">
				{% for item in ajaxform.origin %}
					{% if item == 'Cebu City' %}
						<option value="{{item}}" selected>{{item}}</option>
					{% else %}
						<option value="{{item}}">{{item}}</option>
					{% endif %}
				{% endfor %}
			</select>
      	</div>
      	<div class="col-block">
          <h3>Destination</h3>
      		<select class="select-dest" style="width: 100%;">
    				{% for item in ajaxform.dest %}
    					{% if item == 'Dumaguete City' %}
    						<option value="{{item}}" selected>{{item}}</option>
    					{% else %}
    						<option value="{{item}}">{{item}}</option>
    					{% endif %}
    				{% endfor %}
    			</select>
      	</div>
        <div class="col-block">
          <h3>Share Youre Schedule</h3>
          <ul style="display: flex;list-style: none;">
              <li><div class="share-dynamic-fb btn btn--stroke--reverse btn--big"><i class="fab fa-facebook"></i></div></li>
              <li><div class="share-dynamic-twitter btn btn--stroke--reverse  btn--big"><i class="fab fa-twitter"></i></div></li>
              <li><div  class="share-clipboard btn btn--stroke--reverse  btn--big"><i class="fa fa-copy"></i></div></li>
              <li><em class="tooltip">Copied</em></li>
          </ul>
        </div>
      	<div class="col-block" style="width: 100%;">
            <h3 style="
              display: none;
              padding: 1rem;
              background-color: #e0574f;
              "
              class="ajax-message" >
              SORRY NO AVAILABLE SCHEDULE
            </h3>
        </div>
  	</div>


  	<div class="row features block-1-1 block-tab-full" data-aos="fade-in">
      <div class="tab-wrap">
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1">Schedules & Rates</label>
        <input type="radio" id="tab2" name="tabGroup1" class="tab">
        <label for="tab2">Comments</label>
        <input type="radio" id="tab3" name="tabGroup1" class="tab">
        <label for="tab3">Book Here</label>
        
        <div class="tab__content">
          <div class="fb-like" 
                data-href="https://renifysite.com/vessel/cocaliong/" 
                data-width="" 
                data-layout="button_count" 
                data-action="like" 
                data-size="small" 
                data-lazy="true"
                data-share="false"
                style="float:right;"
                >
            </div>
          <div class="row features block-1-2 block-tab-full" data-aos="fade-in">
          <div class="col-block">
              <table>
                  <caption>Schedules</caption>
                  <thead>
                    <tr>
                      <th>Vessel</th>
                      <th>Departure</th>
                      <th>Arrival</th>
                    </tr>
                  </thead>
                  <tbody class="ajax_schedules">
                  </tbody>
              </table>
          </div>

          <div class="col-block"> 
              <table>
                  <caption>Rates</caption>
                  <thead>
                    <tr>
                      <th>Vessel</th>
                      <th>Accomodation</th>
                      <th>Rooms</th>
                      <th>Rate</th>
                    </tr>
                  </thead>
                  <tbody class="ajax_rates">
                 </tbody>
              </table>
          </div>
          </div>  
        </div>
        
        <div class="tab__content">
            <div class="fb-like" 
                data-href="https://renifysite.com/vessel/cocaliong/" 
                data-width="" 
                data-layout="button_count" 
                data-action="like" 
                data-size="small" 
                data-lazy="true"
                data-share="false"
                style="float:right;"
                >
            </div>
            <div class="fb-comments" data-href="https://renifysite.com/vessel/cocaliong/"  data-width="" data-numposts="10"></div>
        </div>

        <div class="tab__content">
          <div class="fb-like" 
                data-href="https://renifysite.com/vessel/cocaliong/" 
                data-width="" 
                data-layout="button_count" 
                data-action="like" 
                data-size="small" 
                data-lazy="true"
                data-share="false"
                style="float:right;"
                >
            </div>
          <p>Comming Soon</p>
        </div>
      </div>
      <div class="col-block">
      	{% for item in ajaxform.content %}
  			<input type="hidden" name="{{item.origin}} {{item.dest}}" value="{{item.id}}">
  		{% endfor %}
      </div>
  </div>

    <div class="row center" >
        <a href="/vessel/" class="btn btn--stroke--reverse btn-effect btn--big"><i class="fa fa-arrow-left"></i>GO BACk TO LIST</a>
    </div>

    <div class="row block-1-1 block-tab-full" >
        <div class="col-block">
          <h3>About Cocaliong Shipping Lines</h3>
          <p>As we enter the 21st century, a new global economy draws routes ever closer. Competition leads to improvement just when your competitors think it is safe to do business. It’s certainly important for COKALIONG SHIPPING LINES, INC. to improve its services and integrate the latest technology in the industry to sustain a competitive advantage over the others. But nothing takes precedence over satisfying its customers.
              Welcome
              Cokaliong Shipping Lines
              As we enter the 21st century, a new global economy draws routes ever closer. Competition leads to improvement just when your competitors think it is safe to do business. It’s certainly important for COKALIONG SHIPPING LINES, INC. to improve its services and integrate the latest technology in the industry to sustain a competitive advantage over the others. But nothing takes precedence over satisfying its customers.
              We began to realize better ways to use resources. We face challenges and opportunities that are worthy of our collective talents and intellectual resources. It’s important to remember- that what builds companies is the ability to deliver new ideas again and again. We have to think positively and adopt a “can do” attitude. We have to look at adversities as opportunities.
              Thanks to a well-considered strategy of expansion and diversification, COKALIONG SHIPPING LINES, INC. is the only medium-sized shipping company that is into containerization. The project intends to keep abreast with the developments in the world of transportation. Better service is achieved by extending our existing facilities or fleet. With great enthusiasm and far-reaching ambition, we want to offer the most reliable and efficient services to our Customers.
          </p>
        </div>
    </div>

    
    <div class="row features block-1-1 block-tab-full" >
        {{footer}}
    </div>

</section>

{# BUS ROUTE LINK  #}
<section id="short-text" data-aos="fade">
  <div class="short-text">
    <h2>Want to Travel By Land ? <a href="/routes/" class="invert">Click Here</a></h2>
  </div>
</section>


{# RELATED VESSEL #}
<section id="category" class="">
  <div class="row">
    <div class="gallery__wrap" data-aos="fade-up">
      <div class="col-full about-desc">
        <h2 class="display-2">Try Other Vessels</h2>
      </div>
      <div class="gallery__photos">
        <div class="col-full slick-slider gallery__photos__slide">
            {{ drupal_view('barkota_lists','related') }}
        </div>
      </div>
    </div>
  </div>
</section>

<div class="ajax_cache" style="display:none">
    
</div>