<!-- BREADCRUMB -->
<section id="breadcrumb" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
              <ul>
                <li><a href="/">Home</a></li>
              </ul>
            </div>  
        </div>
    </div>
</section>

{{ drupal_view('frontpage', 'block_1') }}

{# PROMOTIONAL #}
<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
      <!-- MODAL -->
      <div class="col-full">
        <input class="modal-state" id="modal-1" type="checkbox"  style="display: none;" />
        <div class="modal">
          <label class="modal__bg" for="modal-1"></label>
          <div class="modal__inner">
            <label class="modal__close" for="modal-1"></label>
            <iframe src="https://s-pass.ph/visitors/policy_table" width="100%" height="100%"></iframe>
          </div>
        </div>
    </div> 

    <div class="col-full">
      <h1 class="display-1">
        Find Schedules And Fares
      </h1>
      <label class="btn btn--stroke" for="modal-1"><i class="fa fa-lightbulb"></i> Check Travel Requirements</label>
      <div class="row block-1-3 block-tab-full" data-aos="fade-in">
        <div class="col-block item-article item-feature">
            <div class="card" style="height:12vh">
              <a href="/vessel/cocaliong/" title="">
                <img src="/themes/Renify/images/lazy/ship.svg" data-src="/sites/default/files/public/ship.jpg" class="img-fluid lazy" alt="cocaliong" style="height:100%">
              </a>
            </div>
        </div>
         {{ drupal_view('barkota_lists','main') }}
      </div>
      <a href="/vessel/" class="btn btn--stroke btn-effect btn--big">More Schedules</a>
    </div>
  </div>
</section>

<section id="short-text" data-aos="fade">
  <div class="short-text">
    <h2>Want to Travel By Land ? <a href="/routes/" class="invert">Click Here</a></h2>
  </div>
</section>

<section id="body" class="articles"  max-pager="">
  <div class="row section-header has-bottom-sep" >
    <div class="col-2-3">
      <h1 class="display-1">
        List of Places
      </h1>
      <p class="lead">
        Read the latest articles that you want to discover
      </p>
    </div>
    <div class="col-1-3">
       <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5xugp0tbqem&amp;m=7&amp;c=ff0000&amp;cr1=ffffff&amp;f=ubuntu&amp;l=0" async="async"></script>
      
      <p class="lead">
        Youre Current Locaion
      </p>
    </div>
    {{ view.header.area_text_custom.content }}
  </div> <!-- end section-header -->
  
  <div class="row features block-1-3 block-tab-full" data-aos="fade-in">
    {% if rows -%}
      {% for row in rows %}
        {{row.content}}
      {% endfor %}
    {% endif %}
  </div>

</section>

{{ drupal_view('frontpage', 'gallery') }}

{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}

