{{ attach_library('renify/login') }}

{% set build_id = element.form_build_id['#markup'] %}
{% set form_id  = element.form_id['#markup'] %}
{% set account  = element.account['#markup'] %}
{% set image    = element.user_picture['#markup'] %}
{% set footer   = element.footer['#markup'] %}
{% set submit   = element.actions['#markup'] %}

<section id="body" class="articles">
    <form{{attributes}}>
            {{ build_id }}
            {{ form_id }}
        <div>
            {{account}}
        </div>
        <div>
            {{image}}
        </div>
        <div>
            {{name}}
        </div>
        <div>
            {{password}}
        </div>
        {{submit}}
    </form>
</section>