{% set id       = fields.uid.content|raw|striptags|trim %}
{% set image    = fields.user_picture.content|raw|striptags %}
{% set points   = fields.field_points.content|raw|striptags %}
{% set x_points = fields.field_prev_points.content|raw|striptags %}

{% if image is empty %}
  {% set image = '/themes/renify_dashboard/favicon.ico' %}
{% endif %}

{% set trending_points_icon  = 'trending-up' %}
{% set trending_points_color = 'success' %}
{% if x_points > points %}
  {% set trending_points_icon  = 'trending-down' %}
  {% set trending_points_color = 'danger' %}
{% endif %}

<input type="hidden" name="js-current-user" value="{{id}}">
<div class="layer"></div>
<a class="skip-link sr-only" href="#skip-target">Skip to content</a>
<div class="page-flex">
  <!-- ! Sidebar -->
  <aside class="sidebar">
    <div class="sidebar-start">
        <div class="sidebar-head">
            <a href="/dashboard" class="logo-wrapper" title="Home">
                <span class="sr-only">Home</span>
                <span class="icon logo" aria-hidden="true"></span>
                <div class="logo-text">
                    <span class="logo-title">Renify</span>
                    <span class="logo-subtitle">Dashboard</span>
                </div>

            </a>
            <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
                <span class="sr-only">Toggle menu</span>
                <span class="icon menu-toggle" aria-hidden="true"></span>
            </button>
        </div>
        <div class="sidebar-body">
            <ul class="sidebar-body-menu">
                <li>
                    <a class="" href="/" target="_blank"><span class="icon home" aria-hidden="true"></span>Home</a>
                </li>
                <li>
                    <a class="active" href="/dashboard"><span class="icon time-circle" aria-hidden="true"></span>Dashboard</a>
                </li>
                <li>
                    <a class="js-redeem-points" href="#"><span class="icon play" aria-hidden="true"></span>Redeem Points</a>
                </li>
                <li>
                    <a class="" href="/routes" target="_blank"><span class="icon info_circle" aria-hidden="true" ></span>Bus Routes</a>
                </li>
                <li>
                    <a class="" href="/vessel" target="_blank"><span class="icon star" aria-hidden="true"></span>Shipping Vessels</a>
                </li>
                <li>
                    <a class="" href="/node/add/places?destination=/dashboard" target="_blank"><span class="icon setting" aria-hidden="true"></span>ADD PLACE</a>
                </li>
             
             {% if is_admin %}
                  <li>
                      <a class="show-cat-btn" href="##">
                          <span class="icon document" aria-hidden="true"></span>Posts
                          <span class="category__btn transparent-btn" title="Open list">
                              <span class="sr-only">Open list</span>
                              <span class="icon arrow-down" aria-hidden="true"></span>
                          </span>
                      </a>
                      <ul class="cat-sub-menu">
                          <li>
                              <a href="/admin/content">All Posts</a>
                          </li>
                          <li>
                              <a href="/node/add">Add new post</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a class="show-cat-btn" href="##">
                          <span class="icon folder" aria-hidden="true"></span>Categories
                          <span class="category__btn transparent-btn" title="Open list">
                              <span class="sr-only">Open list</span>
                              <span class="icon arrow-down" aria-hidden="true"></span>
                          </span>
                      </a>
                      <ul class="cat-sub-menu">
                          <li>
                              <a href="/admin/structure/taxonomy">All categories</a>
                          </li>
                      </ul>
                  </li>

             {% endif %}   
               
                  <li>
                      <a class="show-cat-btn" href="##">
                          <span class="icon image" aria-hidden="true"></span>Media
                          <span class="category__btn transparent-btn" title="Open list">
                              <span class="sr-only">Open list</span>
                              <span class="icon arrow-down" aria-hidden="true"></span>
                          </span>
                      </a>
                      <ul class="cat-sub-menu">
                          <li>
                              <a href="/imce" target="_blank">Public Folder</a>
                          </li>
                          <li>
                              <a href="/imce/private" target="_blank">Private Folder</a>
                          </li>
                      </ul>
                  </li>
     
            </ul>
            
            {% if is_admin %}
              <span class="system-menu__title">system</span>
              <ul class="sidebar-body-menu">
                  <li>
                      <a href="/admin/appearance"><span class="icon edit" aria-hidden="true"></span>Appearance</a>
                  </li>
                  <li>
                      <a class="show-cat-btn" href="##">
                          <span class="icon category" aria-hidden="true"></span>Extentions
                          <span class="category__btn transparent-btn" title="Open list">
                              <span class="sr-only">Open list</span>
                              <span class="icon arrow-down" aria-hidden="true"></span>
                          </span>
                      </a>
                      <ul class="cat-sub-menu">
                          <li>
                              <a href="/admin/modules/install">Install</a>
                          </li>
                          <li>
                              <a href="/admin/modules/uninstall">Uninstall</a>
                          </li>
                          <li>
                              <a href="/admin/modules/update">Update</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a class="show-cat-btn" href="##">
                          <span class="icon user-3" aria-hidden="true"></span>Users
                          <span class="category__btn transparent-btn" title="Open list">
                              <span class="sr-only">Open list</span>
                              <span class="icon arrow-down" aria-hidden="true"></span>
                          </span>
                      </a>
                      <ul class="cat-sub-menu">
                          <li>
                              <a href="/admin/people">User Lists</a>
                          </li>
                          <li>
                              <a href="/admin/people/create">Add User</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="/admin/config/development/csv-importer"><span class="icon setting" aria-hidden="true"></span>CSV IMPORT</a>
                  </li>
            {% endif %} 
            </ul>
        </div>
    </div>
    <div class="sidebar-footer">
        <a href="##" class="sidebar-user">
            <span class="sidebar-user-img">
                <picture><source srcset="/themes/renify_dashboard/img/avatar/avatar-illustrated-02.webp" type="image/webp"><img src="/themes/renify_dashboard/img/avatar/avatar-illustrated-02.png" alt="User name"></picture>
            </span>
            <div class="sidebar-user-info">
                <span class="sidebar-user__title">Renier John</span>
                <span class="sidebar-user__subtitle">Software Developer</span>
                <span class="sidebar-user__subtitle">Creator</span>
            </div>
        </a>
    </div>
</aside>
  <div class="main-wrapper">
    <!-- ! Main nav -->
    <nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
       <form action="/search/result/" method="get" accept-charset="utf-8" class="search-wrapper">
        <i data-feather="search" aria-hidden="true"></i>
        <input type="text" name="keys" placeholder="Enter keywords ..." required>
      </form>
    </div>
    <div class="main-nav-end">
      <button class="sidebar-toggle transparent-btn" title="Menu" type="button">
        <span class="sr-only">Toggle menu</span>
        <span class="icon menu-toggle--gray" aria-hidden="true"></span>
      </button>
   {#    <div class="lang-switcher-wrapper">
        <button class="lang-switcher transparent-btn" type="button">
          EN
          <i data-feather="chevron-down" aria-hidden="true"></i>
        </button>
        <ul class="lang-menu dropdown">
          <li><a href="##">English</a></li>
          <li><a href="##">French</a></li>
          <li><a href="##">Uzbek</a></li>
        </ul>
      </div> #}
      <button class="theme-switcher gray-circle-btn" type="button" title="Switch theme">
        <span class="sr-only">Switch theme</span>
        <i class="sun-icon" data-feather="sun" aria-hidden="true"></i>
        <i class="moon-icon" data-feather="moon" aria-hidden="true"></i>
      </button>
     
     {# NOTIFICATION #}
     {#  <div class="notification-wrapper">
        <button class="gray-circle-btn dropdown-btn" title="To messages" type="button">
          <span class="sr-only">To messages</span>
          <span class="icon notification active" aria-hidden="true"></span>
        </button>
        <ul class="users-item-dropdown notification-dropdown dropdown">
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">System just updated</span>
                <span class="notification-dropdown__subtitle">The system has been successfully upgraded. Read more
                  here.</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon danger">
                <i data-feather="info" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">The cache is full!</span>
                <span class="notification-dropdown__subtitle">Unnecessary caches take up a lot of memory space and
                  interfere ...</span>
              </div>
            </a>
          </li>
          <li>
            <a href="##">
              <div class="notification-dropdown-icon info">
                <i data-feather="check" aria-hidden="true"></i>
              </div>
              <div class="notification-dropdown-text">
                <span class="notification-dropdown__title">New Subscriber here!</span>
                <span class="notification-dropdown__subtitle">A new subscriber has subscribed.</span>
              </div>
            </a>
          </li>
          <li>
            <a class="link-to-page" href="##">Go to Notifications page</a>
          </li>
        </ul>
      </div> #}

      <div class="nav-user-wrapper">
        <button href="##" class="nav-user-btn dropdown-btn" title="My profile" type="button">
          <span class="sr-only">My profile</span>
          <span class="nav-user-img">
            <picture>
              {# <source srcset="/themes/renify_dashboard/img/avatar/avatar-illustrated-02.webp" type="image/webp"> #}
              <img src="{{image}}" alt="User name"></picture>
          </span>
        </button>
        <ul class="users-item-dropdown nav-user-dropdown dropdown">
          <li><a href="/node/add/places?destination=/dashboard" target="_blank">
              <i data-feather="plus-square" aria-hidden="true"></i>
              <span>Add Place</span>
            </a></li>
          <li><a class="danger" href="/user/logout">
              <i data-feather="log-out" aria-hidden="true"></i>
              <span>Log out</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    <!-- ! Main -->
    <main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Dashboard</h2>
        <p class="main-title">Earn Points while Creating Content and Convert to Mobile Data Load</p><br>
        <div class="row stat-cards">
         <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon primary">
                <i data-feather="bar-chart-2" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num js-total-views">0</p>
                <p class="stat-cards-info__title">Total Views</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>
                    <span class="js-total-views-percent">0.00%</span>
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon warning">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num js-total-points">{{points}}</p>
                <p class="stat-cards-info__title">Total Points</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit {{ trending_points_color }}" prev-points="{{x_points}}" >
                    <i data-feather="{{ trending_points_icon }}" aria-hidden="true"></i>
                    <span class="js-total-points-percent">0.00%</span>
                  </span>
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num js-total-posts">0</p>
                <p class="stat-cards-info__title">Total Posts</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit warning">
                    <i data-feather="trending-up" aria-hidden="true"></i><span class="js-total-posts-percent">0.00%</span>
                  </span>
                  {# Last month #}
                </p>
              </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="chart">
              <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div>
            
              {# {{ drupal_view('dashboard','content') }} #}
              {{ drupal_view('dashboard_content','main',id) }}
            
              <div>
                <a class="js-show-more" href="#" data="1">
                   <i data-feather="plus-square" aria-hidden="true"></i>LOAD MORE
                </a>
              </div>

          </div>
          <div class="col-lg-3">
              <article class="white-block">
                <div class="top-cat-title">
                  <h3>Top Bloggers</h3>
                  <p><span class="js-total-bloggers">0</span> Bloggers, <span class="js-total-blogger-posts">0</span> Posts</p>
                </div>
                 <ul class="top-cat-list js-top-user">
                 
                </ul>
              </article>
          </div>
        </div>
      </div>
    </main>
    <!-- ! Footer -->
    <footer class="footer">
  <div class="container footer--flex">
    <div class="footer-start">
      <p>2022 © Renify Dashboard - <a href="/" target="_blank"
          rel="noopener noreferrer">renifysite.com</a></p>
    </div>
    <ul class="footer-end">
{#       <li><a href="##">About</a></li>
      <li><a href="##">Support</a></li>
      <li><a href="##">Puchase</a></li> #}
    </ul>
  </div>
</footer>
  </div>
</div