<!-- TOP BANNER -->
<section class="p-news-container">
  <div class="row">
   <a href="/products/" class="btn btn--stroke--reverse overflow" title="Back"><i class="fa fa-arrow-left" ></i>Back</a>
  </div>
</section>

<section id="body" class="products">
      <div class="row flex">
          <!-- MAIN -->
        <div class="flex-2-3">
          <div class="p-main-cart">
            <table>
            <caption><b>REVIEW YOURE <i class="fa fa-shopping-cart"></i>CART</b></caption>
            <thead>
              <!-- <tr>
              </tr> -->
            </thead>
            <tbody>
              {% for item in data %}
	              <tr>
	                <td class="p-td-close" pid="{{item.id}}"><a href="#" title=""><i class="fa fa-window-close"></i></a></td>
	                <td class="p-td-img">
	                  <a href="{{item.link}}/" title="{{item.title}}">
	                    <img src="{{item.image}}" alt="{{item.title}}">
	                  </a>
	                </td>
	                <td class="p-td-price">Php <span>{{item.price}}</span> </td>
	                <td class="p-td-input">
	                  <div>
	                    <a href="#" class="a-plus" title="Add Item"><i class="fa fa-plus"></i></a>
	                    <input type="text" name="Quantity" value="{{item.qty}}" disabled pid="{{item.id}}">
	                    <a href="#" class="a-minus" title="Reduce Item"><i class="fa fa-minus"></i></a>
	                  </div>
	                </td>
	              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>

        <!-- SIDEBAR -->
        <div class="flex-1-3">
          <div class="p-sidebar s-cart">
            <div class="p-row">
              <div class="p-sidebar-menu">
                  <ul>
                    <li>
                      <h5>Summary</h5>
                    </li>
                  </ul>
                  <ul class="p-sidebar-list-wrapper">
                  {% for item in data %}
	                  <li class="p-sidebar-list" pid="{{item.id}}">
	                    <div class="p-sidebar-price">
	                      {{item.price}} 
	                    </div>
	                    <div>
	                      x
	                    </div>
	                    <div class="p-sidebar-quantity">
	                      {{item.qty}}
	                    </div>
	                  </li>

 				  {% endfor %}
                </ul>
                <ul>
                  <li class="p-sidebar-total"><span>0</span> Total  .</li>
                  <li class="p-sidebar-checkout"><a href="#" title="">Checkout</a></li>
                </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </section>                                                           