{% set lazy_img    = '/themes/Renify/images/lazy/bus.svg' %}
{% set id          = node.id|raw|striptags|raw|trim %}
{% set title       = node.title.value|raw|striptags %}
{% set banner      = content.field_banner_image.0['#markup'] %}
{% set description = content.field_description.0['#text'] %}
{% set galleries   = content.field_thumbnails %}

{% set route_orign = content.field_route_origin %}
{% set route_dest  = content.field_route_destination %}
{% set route_class = content.field_route_class %}
{% set route_price = content.field_route_price %}

{% set route_tables = content.field_tx_table_route %}
{# 
{% set category    = content.field_category.0['#title'] %}
{% set nearby      = content.field_nearby_place.0['#plain_text'] %}
{% set date        = node.created.value|format_date('y M o') %} #}

{{ attach_library('core/drupal') }}
{{ attach_library('data_router/tracker') }}

<style type="text/css">
	#message-form{
		margin-bottom: 0;
	}
</style>

<section id="home" class="s-home-mini target-section banner-product" data-parallax="scroll" data-image-src="{{banner}}" data-natural-width=1600 data-natural-height=1200 data-position-y=center>
  <div class="header-mini-title center">
    <h2>{{title}}</h2>
  </div>
</section>

<!-- BREADCRUMB -->
<section id="breadcrumb" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/routes/">Bus Routes</a></li>
              <li><a href="#">{{title}}</a></li>
            </ul>
            </div>  
        </div>
    </div>
</section>

{{ drupal_view('frontpage', 'block_1') }}

<!-- MAIN CONTENTS -->
    <section id="body" class="articles"  max-pager="">
      <div class="row features block-1-1 block-tab-full route_select" data-aos="fade-in">
        <div class="col-full">
          <a href="#preloader" class="smoothscroll">
	        <table>
	            <caption>{{title}} SCHEDULES & FARES (<span id="view_count" class="{{id}}"></span><em>Views)</caption>
	            <thead>
	              <tr>
	                <th>Origin</th>
	                <th>Destination</th>
	                <th>Class</th>
	                <th>Price</th>
	              </tr>
	            </thead>
	            <tbody>
	            	{% for key,origin in route_orign['#items'] %}
			              <tr>
			                <td>{{origin.value}}</td>
			                <td>{{route_dest[key]['#context'].value}}</td>
			                <td>{{route_class[key]['#context'].value}}</td>
			                <td>{{route_price[key]['#context'].value}}</td>
			              </tr>
	            	{% endfor %}
	            </tbody>
	        </table>

	        <div class="row  block-1-1 block-tab-full " data-aos="fade-in">
	            <div class="gallery__photos">
	              <div class="col-full route__slider">
	              	{% for gallery in galleries['#items'] %}
	              		{% set img = gallery.entity.uri.value|replace({'public://':'/sites/default/files/public/'}) %}
	                  <div class="">
	                    <a href="{{img}}">
	                      <img src="{{lazy_img}}" data-src="{{img}}" class="img-fluid lazy" alt="">
	                    </a>
	                  </div>
	              	{% endfor %}
	              </div>
	            </div>
	        </div>
        </div>
      </div>

      <div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
      	{% for node in route_tables['#items'] %}
      		{% if node %}
      			<div class="col-full">
      				{{ drupal_entity('node',node.entity.id, 'full') }}
      			</div>
      		{% endif %}
      	{% endfor %}

      </div>
	    <div class="row center" >
	        <a href="/routes/" class="btn btn--stroke--reverse btn-effect btn--big"><i class="fa fa-arrow-left"></i>GO BACk TO LIST</a>
	    </div>

	    <div class="row block-1-1 block-tab-full" style="padding:0 1rem">
      <h3>About {{title}}</h3>
        {{description|raw}}
    </div> 

    </section>

<!-- RELATED ROUTES -->
    <section id="category" class="">
      <div class="row">
        <div class="gallery__wrap" data-aos="fade-up">
          <div class="col-full about-desc">
            <h2 class="display-2">Other Routes</h2>
          </div>
          <div class="gallery__photos">
            <div class="col-full slick-slider gallery__photos__slide">
                {{ drupal_view('routes','relatedroute') }}
            </div>
          </div>
        </div>
      </div>
    </section>

{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}
