{% set lazy_img    = '/themes/Renify/images/lazy/bus.svg' %}
{% set id          = node.id|raw|striptags|raw|trim %}
{% set title       = node.title.value|raw|striptags %}
{% set description = content.field_description%}
{% set banner      = content.field_banner_image.0['#markup'] %}
{% set code        = content.field_code %}
{% set uuid        = content.field_uuid.0['#context'].value %}
{% set name        = content.field_display_name %}
{% set route_orign = content.field_vessel_origin['#items'] %}	
{% set route_dest  = content.field_vessel_destination['#items'] %}
{% set default_origin = content.field_field_origin_default['#items'][0].entity.field_id.value %}
{% set default_dest   = content.field_field_destination_default['#items'][0].entity.field_id.value %}

{# {% set description = content.field_description.0['#text'] %} #}


{{ attach_library('core/drupal') }}
{{ attach_library('data_router/tracker') }}
{{ attach_library('data_router/barkota') }}
{{ attach_library('data_router/weather') }}

<input type="hidden" name="uuid" value="{{uuid}}">

<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{{banner}}" data-natural-width=1600 data-natural-height=1200 data-position-y=center>
    <div class="shadow-overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <div class="home-content__left">
                  <h1>{{title}}s</h1>
                  <h3>Travel While You Can <a href="#.">(<span id="view_count" class="{{id}}"></span> views)</a></h3>
                <div class="home-content__btn-wrap">
                    <a href="#body" class="btn btn--stroke--reverse btn--big home-content__btn ">
                        Find Schedules
                    </a>
                </div>
            </div> <!-- end home-content__left-->
        </div> <!-- end home-content__main -->
        <ul class="home-content__social">
            <li><a href="#." class="share-fb" data-pageid="{{url}}" data-title="{{title}}">Facebook</a></li>
            <li><a href="#." class="share-twitter" data-pageid="{{url}}" data-title="{{title}}">twitter</a></li>
            <li><a href="#." data-pageid="{{url}}" data-id="{{url}}" data-title="{{title}}">Instagram</a></li>
        </ul>
    </div> <!-- end home-content -->
    <a href="#body" class="home-scroll ">
        <span class="home-scroll__text">Scroll</span>
        <span class="home-scroll__icon"></span>
    </a>
</section>

{{ drupal_view('frontpage', 'block_1') }}

<section id="body" class="articles"  max-pager="">
    <div class="row section-header has-bottom-sep" >
        <div class="col-full">
          <h1 class="display-1">
            Schedules And Fares
          </h1>
          <p class="lead">
            Search Youre Travel Plan and Dont Forget To Explore
          </p>
        </div>
    </div> <!-- end section-header -->

<!-- WEATHER DISPLAY -->
     {#  <div class="weather">
          <a class="weatherwidget-io" href="https://forecast7.com/en/10d32123d89/cebu-city/" data-label_1="CEBU CITY" data-label_2="WEATHER" data-font="Roboto" data-icons="Climacons Animated" data-days="7" data-theme="original" >CEBU CITY WEATHER</a>
      </div> #}

<div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
  <div class="col-block" style="width: 100%;overflow: auto;">
    <div class="selected-weather-wrap" style="opacity: 1;">      
    
    </div>
   </div>
 </div>

{# Search By Date #}
  <div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
        <div class="col-block">
          <h2>Search By Date</h2>
          <div class="select-date">
              <div class="carousel slick-initialized slick-slider">
                <div class="slick-list">
                  <div class="selected-date-wrap ajax_date" style="opacity: 1; width: 1050px; transform: translate3d(0px, 0px, 0px);">


                  </div>
                </div>
              </div>
         </div>
       </div>
     </div>

 {# Seach By Route #}
	<div class="row features block-1-3 block-tab-full route_select" data-aos="fade-in">
        <div class="col-block">
          <h3>Origin</h3>
      		<select class="select-origin" style="width: 100%;">
				{% for item in route_orign %}
					{% if item.entity.field_id.value == default_origin %}
						<option value="{{item.entity.field_id.value}}" selected>{{item.entity.name.value}}</option>
					{% else %}
						<option value="{{item.entity.field_id.value}}">{{item.entity.name.value}}</option>
					{% endif %}
				{% endfor %}
			</select>
      	</div>
      	<div class="col-block">
          <h3>Destination</h3>
      		<select class="select-dest" style="width: 100%;">
    				{% for item in route_dest %}
    					{% if item.entity.field_id.value == default_dest %}
    						<option value="{{item.entity.field_id.value}}" lat="{{item.entity.field_lat.value}}" lng="{{item.entity.field_lng.value}}" selected>{{item.entity.name.value}}</option>
    					{% else %}
    						<option value="{{item.entity.field_id.value}}" lat="{{item.entity.field_lat.value}}" lng="{{item.entity.field_lng.value}}">{{item.entity.name.value}}</option>
    					{% endif %}
    				{% endfor %}
    			</select>
      	</div>
        <div class="col-block">
          <h3>Share Youre Schedule</h3>
          <ul style="display: flex;list-style: none;">
              <li><div class="share-dynamic-fb btn btn--stroke--reverse btn--big"><i class="fab fa-facebook"></i></div></li>
              <li><div class="share-dynamic-twitter btn btn--stroke--reverse  btn--big"><i class="fab fa-twitter"></i></div></li>
              <li><div  class="share-clipboard btn btn--stroke--reverse  btn--big"><i class="fa fa-copy"></i></div></li>
              <li><em class="tooltip">Copied</em></li>
          </ul>
        </div>
  </div>
  <div class="row features block-1-1 block-tab-full route_select">
      	<div class="col-block" style="width: 100%;">
            <h3 style="
              display: none;
              padding: 1rem;
              background-color: #e0574f;
              "
              class="ajax-message" >
              SORRY NO AVAILABLE SCHEDULE
            </h3>
        </div>
  </div>

  <div class="row features block-1-1 block-tab-full" data-aos="fade-in">
        <div class="">
          <table>
            <caption>Rates & Schedules</caption>
            <caption class="ajax_table_origin"><i>from</i></caption>
            <caption class="ajax_table_dest"><i>to</i></caption>
            <thead>
              <tr>
                <th>Vessel</th>
                <th>Departure</th>
                <th>Duration</th>
                <th>Accomodations</th>
              </tr>
            </thead>
            <tbody class="ajax_schedules">
              <tr>
                <td> --- </td>
                <td> --- </td>
                <td> --- </td>
                <td> --- </td>
              </tr>
            </tbody>
          </table>
        </div>
  </div>
  <div class="row center" >
    <a href="/vessel/" class="btn btn--stroke--reverse btn-effect btn--big"><i class="fa fa-arrow-left"></i>GO BACk TO LIST</a>
  </div>
  
  <div class="row block-1-1 block-tab-full" style="padding:0 1rem">
      <h3>About {{title}}</h3>
      {{description|raw}}
  </div> 
</section>

{# RELATED VESSEL #}
<section id="category" class="">
  <div class="row">
    <div class="gallery__wrap" data-aos="fade-up">
      <div class="col-full about-desc">
        <h2 class="display-2">Try Other Vessels</h2>
      </div>
      <div class="gallery__photos">
        <div class="col-full slick-slider gallery__photos__slide">
            <div class="gallery__slide">
              <a href="/vessel/cocaliong/">
                <img src="/themes/Renify/images/lazy/ship.svg" data-src="/sites/default/files/public/ship.jpg" class="img-fluid lazy" alt="cocaliong" >
              </a>
              <h6>Colcaliong Shipping Line</h6>
            </div>

            {{ drupal_view('barkota_lists','related') }}
        </div>
      </div>
    </div>
  </div>
</section>
