{% set hasCocaliong = content.field_has_cocaliong_route.0['#markup'] %}
{% set map          = content.field_google_map.0['#context'].value %}
{% set description  = content.field_description.0['#text'] %}
{% set gallery      = content.field_thumbnails %}
{% set youtube      = content.field_youtube.0['#url'].uri %}
{% set category     = content.field_category.0['#title'] %}
{% set youtube_img  = content.field_banner_image.0['#markup'] %}
{% set nearby       = content.field_nearby_place.0['#plain_text'] %}
{% set calendar     = content.field_calendar.0['#context'].value %}
{% set booking_link = content.field_table_ticket_link.0 %}
{% set date         = node.created.value|format_date('y M o') %}
{% set title        = node.title.value|raw|striptags %}
{% set lazy_img     = '/themes/Renify/images/lazy/lazy.jpg' %}
{% set id           = node.id|raw|striptags|raw %}
{% set path        = node.path.0.alias ~ '/' %}

{% set status        = node.status.value|raw|striptags %}

{% set next         = pagination.next %}
{% set prev         = pagination.prev %}

{{ attach_library('core/drupal') }}
{{ attach_library('data_router/tracker') }}
{{ attach_library('renify/video') }}

<!-- BREADCRUMB -->
{% set link = '/store/' %}
{% set category_name = 'Store' %}

{% if category != 'Store' %}
  {% set link = '/' %}
{% endif %}

{{ drupal_view('banner','banner',id) }}

{% if youtube is empty %}
  {% set youtube = 'https://youtu.be/OIyWjRQztVY' %}
{% endif %}

{% set default_calendar = 'https://calendar.google.com/calendar/embed?src=u7rqqjuki0d3op2afm0ammi9rg%40group.calendar.google.com&ctz=Asia%2FManila' %}


<!-- Search -->
<section class="search-block">
    <div>
      <form action="/search/result/" method="get" accept-charset="utf-8" class="search-form">
        <input type="text"   name="keys" placeholder="Search" class="input">
        <input type="submit" name="" value="Search" class="submit">
      </form>
     </div>  
</section>

<section id="breadcrumb" class="breadcrumb">
    <div class="cont_principal">
        <div class="cont_breadcrumbs">
          <div class="cont_breadcrumbs_3">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="{{link}}">{{category}}</a></li>
              <li><a href="#">{{title}}</a></li>
            </ul>
            </div>  
        </div>
    </div>
</section>

<section id="body" class="main-wrapper">
    <div class="wrapper-header">
    <div class="inner">
      <div class="row half-bottom">
        <div class="col-twelve">
          <ul class="stats-tabs">
            <li>
              <a href="#preloader" class="smoothscroll">{{ category }}<em>Category</em><a>
            </li>
            <li>
              <a href="#comment" class="smoothscroll"><span class="fb-comments-count" data-href="https://renifysite.com{{path}}"></span><em>Comments</em></a>
            </li>
            <li>
              <a href="#preloader" class="smoothscroll"><span id="view_count" class="{{id}}"></span><em>View(s)</em></a>
            </li>
            {% if status == 0 %}
              <li>
                <a href="#"><i>Pending</i><em>Status</em></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- Content -->
  <div class="wrapper">
    <div class="inner">
      <h3 class="major"><h5 style="display:inline-block;">Posted : </h5> <i>{{ date }}</i> 
            <div class="fb-like" 
                data-href="https://renifysite.com{{path}}" 
                data-width="" 
                data-layout="button_count" 
                data-action="like" 
                data-size="small" 
                data-lazy="true"
                data-share="true"
                style="float:right;"
                >
            </div></h3>
       
       {# SOCIAL MEDIA ICON LINKS #}
       <div class="content-social">
        <ul>
          <li>
            <a href="#." class="share-fb" data-pageid="{{url}}" data-id="" data-title="{{title}}"
              ><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#." class="share-twitter" data-pageid="{{url}}" data-id="" data-title="{{title}}">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#." class="share-insta" data-pageid="{{url}}" data-title="{{title}}">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      
      {# BOOKING BUTTONS #}
      <div>
        <label href="#data-route-signup-form" for="modal-signup" class="btn btn--stroke btn--big js-alert">
          <i class="fa fa-plus"></i> About Us
        </label>
        
        <label href="#data-route-signup-form" for="modal-book" class="btn btn--stroke js-alert" >
          <i class="fa fa-book"></i> Book Here <i class="fa fa-link" aria-hidden="true"></i>
        </label>

          {% if booking_link %}
              <a href="{{booking_link}}" class="btn btn--stroke" target="blank">
                <i class="fa fa-book"></i> Book More <i class="fa fa-external-link-alt" aria-hidden="true"></i>
              </a>
          {% endif %}
      </div>
      {# END BOOKING BUTTONS #}
      
      {# TABS #}
      <div class="tab-wrap">
          <input type="radio" id="tab1" name="tabGroup1" class="tab" checked >
            <label for="tab1">Find Booking Schedule</label>

          <input type="radio" id="tab2" name="tabGroup1" class="tab" >
            <label for="tab2">Comments</label>
          
          <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">Map Location</label>
          
          <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">Video</label>
          
          {# 1ST TAB / CALENDAR #}
          <div class="tab__content">
            {% if calendar %}
              <a href="{{calendar}}" class="btn btn--stroke" target="_blank" title="" ><i class="fa fa-expand"></i> FULL SCREEN</a>
              <iframe src="{{calendar}}" style="border: 0" width="100%" height="700px" frameborder="0" scrolling="no"></iframe>
            {% else %}
              <a href="https://forms.gle/rgoAoe6pAcxRnJvV7" class="btn btn--stroke" title="Subscribe" target="_blank"><i class="fas fa-shopping-cart"></i> Subscribe Now</a>
              <a href="https://price.renifysite.com" class="btn btn--stroke" title="Price" target="_blank"><i class="fas fa-tag"></i> View Pricing</a>
              <a href="{{default_calendar}}" class="btn btn--stroke" target="_blank" title="" ><i class="fa fa-expand"></i> FULL SCREEN</a>
              <iframe src="{{default_calendar}}" style="border: 0" width="100%" height="700px" frameborder="0" scrolling="no"></iframe>
            {% endif %}
          </div>

          {# 2ND TAB / COMMENT #}
          <div class="tab__content">
            <div class="fb-comments" id="comment" data-href="https://renifysite.com{{path}}"  data-width="" data-numposts="10"></div>
          </div>

          {# 3RD TAB / MAPS #}
          <div class="tab__content">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=60025&amp;height=600&amp;hl=en&amp;q={{map}}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
          </div>

          {# 4TH TAB / VIDEO #}
          <div class="tab__content">
              <div class="col-full video-bg" style="background-image: url({{youtube_img}}); margin-top:0;">
                <a class="btn-video" href={{youtube}} data-lity>
                  <span class="video-icon"></span>
                </a>
              </div>
          </div>
       </div>
      {# END TABS  #}
      

    </div>   

    <div class="content-social">
      <ul>
        <li>
          <a href="#." class="share-fb" data-pageid="{{url}}" data-id="" data-title="{{title}}"
            ><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#." class="share-twitter" data-pageid="{{url}}" data-id="" data-title="{{title}}">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#." class="share-insta" data-pageid="{{url}}" data-title="{{title}}">
            <i class="fab fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Pagination  -->
<section id="pagination" class="s-styles">
  <div class="row half-bottom ">
    {% if prev %}
      <div class="col-six inline-grid">
        <a href="{{prev}}" class="btn btn--stroke--reverse overflow"><i class="fa fa-arrow-left"></i>Prev</a>
      </div>
    {% endif %}
    {% if next %}
      <div class="col-six inline-grid">
        <a href="{{next}}" class="btn btn--stroke--reverse overflow">Next<i class="fa fa-arrow-right"></i></a>
      </div>
    {% endif %}

  </div>
</section>

<!-- Maps  -->
<section id="col-1r" class="col-1r">
    <!-- ROUTES -->
    {% if routes_relation %}
    <div class="row features block-1-1 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">
        <div class="col-block">
          <h2>Want to Go {{title}} ?</h2>
          <p>Try to Search Schedule Here</p>
        </div>
     </div>
    
      <div class="row related-routes features block-1-3 block-tab-full route_select aos-init aos-animate" data-aos="fade-in">   
            {% for route_relation in routes_relation %}
              <div class="col-block">
                <div class="image-wrapper">
                      <a href="{{route_relation.link}}" title="{{route_relation.title}}">
                        <img src="{{route_relation.image}}" class="img-fluid lazy" alt="{{route_relation.title}}">
                      <span>{{route_relation.title}}</span>
                      </a>
                  </div>
               </div>
            {% endfor %}
      </div>
    {% endif %}

  </div>
</section>

<!--Gallery  -->
<section id="gallery" class="gallery">
  <div class="gallery__wrap" data-aos="fade-up">
    <div class="row">
      <div class="col-full testimonials-header">
        <h2 class="display-2">GALLERY</h2>
      </div>
    </div>
    <div class="row gallery__photos">
      <div class="col-full slick-slider gallery__photos__slide">
        {{gallery}}
      </div>
    </div>
  </div>
</section>

<!--FORM  -->
{{ drupal_form('Drupal\\data_router\\Form\\MessageForm')}}

<!--video  -->
<section id="video" class="video">
  <div class="row">
    <div id="video-bg" class="col-full video-bg" style="background-image: url({{youtube_img}})">
    <div  class="shadow-overlay"></div>
        <a
        class="btn-video"
        href={{youtube}}
        data-lity
        >
        <span class="video-icon"></span>
      </a>
      <div class="stats">
        <div class="item-stats">
          <span class="item-stats__num">
            {{ title }}
          </span>
          <span class="item-stats__title">
            Video
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End video  -->

{# 
  /////////////////////////////////////////////////////////////////////////////////////////////////////
  //   MODAL BELOW
  /////////////////////////////////////////////////////////////////////////////////////////////////////
#}


{# MODAL ABOUT US #}
<div class="row block-1-1 block-tab-full" style="padding:1rem 2rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color: white; border-radius: 6px;">
  <input class="modal-state" id="modal-signup" type="checkbox"  style="display: none;" />
  <div class="modal">
    <label class="modal__bg" for="modal-signup"></label>
    <div class="modal__inner" style="background-color:white;height:70%;">
        <label class="modal__close" for="modal-signup"></label>
        <h3>About {{title}}</h3>
        {{ description|raw }}
    </div>
  </div>
</div>


{# MODAL BOOK HERE #}
<div class="row block-1-1 block-tab-full" style="padding:1rem 2rem;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;background-color: white; border-radius: 6px;">
  <input class="modal-state" id="modal-book" type="checkbox"  style="display: none;" />
  <div class="modal">
    <label class="modal__bg" for="modal-book"></label>
    <div class="modal__inner" style="background-color:white;height:20%;">
        <label class="modal__close" for="modal-book"></label>
        <h3 style="margin-top:2rem;"><i class="fas fa-shopping-cart"></i> Comming Soon <i class="fa fa-location-pin"></i></h3>
        <div class="content-social">
          <ul>
            <li>
              <a href="#." class="share-fb" data-pageid="/beach/gracey-dive-resort-and-restaurant" data-id="" data-title="Gracey Dive Resort And Restaurant"
                ><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#." class="share-twitter" data-pageid="/beach/gracey-dive-resort-and-restaurant" data-id="" data-title="Gracey Dive Resort And Restaurant">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#." class="share-insta" data-pageid="/beach/gracey-dive-resort-and-restaurant" data-title="Gracey Dive Resort And Restaurant">
                <i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>